body {
  background: #1e1f22;
  font-family: sans-serif;
  color: white;
}

#comments {
  max-width: 800px;
  margin: 30px auto;
  padding: 10px;
}

.msg {
  max-width: 60%;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 15px;
  position: relative;
}

.msg.other {
  background: #2b2d31;
}

.msg.me {
  background: #5865f2;
  margin-left: auto;
}

.name {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 5px;
}

.text {
  font-size: 14px;
}

.delete {
  font-size: 10px;
  background: red;
  color: white;
  border: none;
  padding: 3px 6px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
}

.form {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
}

#message {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: #5865f2;
  color: white;
  cursor: pointer;
}
